body{
    background-color: rgb(21, 21, 21);
}

.Desktop {
    background-image: url("Wallpapers/JS_login_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
*{
    box-sizing: border-box;
}

#main{
    overflow: hidden;
}

#notifBar {
    width: 90px;
    height: 100%;
    position: fixed;
    left: -90px;
    top: 0;
    background-color: rgb(21, 21, 21, 0.5);
    /* overflow: hidden; */
    z-index: 2;
    transition: left 0.5s;
}

#notifBar::before{
    content: "";
    position: absolute;
    left: 100%;
    height: 100%;
    width: 20%;
    color: red;
}

#notifBar:hover{
    left: 0;
}

#notifBar .notifBarGold {
    width: 100%;
    filter: drop-shadow(15px 0 25px rgba(0, 0, 0, 0.496));
    height: 100%;
}

.notifIcons-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 50px;
    left: -30px;
}

.notifIcons {
    width: 35px;
    height: 35px;
    margin: 25px 0 25px 55px;
    background-color: rgba(218, 165, 32, 0.8);
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
    filter: drop-shadow(0 0 5px black);
    /* transition: outline 0.3s;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); */
}
.notifIcons:hover{
    outline: 2px solid rgb(21, 21, 21);
}

.notifIcons.active{
    background-color: goldenrod;
    filter: drop-shadow(0 0 5px rgba(255, 166, 0, 0.5));
    outline:2px solid black;
}

#taskBar {
    width: 70%;
    height: 9%;
    position: fixed;
    right: 0;
    bottom: -70px;
    filter: drop-shadow(20px 10px 10px black);
    background-color: rgb(21, 21, 21, 0.5);
    border-top: 5px inset goldenrod;
    outline: 5px solid rgb(21, 21, 21);
    border-radius: 100px 0 0 0;
    z-index: 2;
    transition: bottom 0.5s;
}

#taskBar::before{
    content: " ";
    position: absolute;
    bottom: 110%;
    color: red;
    width: 100%;
    height: 70%;
    left: 0;
}

#taskBar:hover{
    bottom: 0;
}


#taskBar a{
    width: fit-content;
    height: fit-content;
}

.mainBtns{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40px;
}
.mainBtns .app-icons{
    background-color: rgba(218, 165, 32, 0.5);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.mainBtns .app-icons.active{
    background-color: rgba(218, 165, 32, 0.9);
}

.apps-container {
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
#taskBar a:hover .app-icons{
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.4));
}
.app-icons:hover{
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.4));
}
.app-icons {
    width: 35px;
    height: 35px;
    margin: 10px 20px 18px 20px;
}

.pinnedApps {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
}
.pinnedApps .apps {
    cursor: pointer;
    text-decoration: none;
}
.pinnedApps .app-icons {
    background-color: rgba(255, 217, 0, 0.5);
    padding: 5px;
    border-radius:5px;
}
.pinnedApps .app-icons.active{
    background-color: rgba(255, 217, 0, 0.9);
}
.sideFuntional {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: flex-end;
    align-items: center;
    position: absolute;
    right: 0px;
}

.SF {
    width: 35px;
    height: 35px;
    margin: 10px 20px 18px 20px;
    background-color: rgba(255, 102, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: margin-bottom 0.3s ease-in-out;
}
.SF:hover{
    margin-bottom: 26px;
}
.SF.enabled{
    background-color: rgba(255, 102, 0, 0.9)
}
.mainFrame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-animation: fadeEffect 1s;
    -moz-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    animation-timing-function: ease-in;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.tooltip-inner {
    background-color: darkgrey;
    color: black;
    font-size: 14px;
    padding: 5px;
    width: 65px;
    font-family: "satisfy";
    margin: 10px;
    box-shadow: 0px 0px 4px black;
    z-index: 4;
}



.clickable-area{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.notif-dialogs{
    width: 300px;
    height: 410px;
    background-color:rgb(21, 21, 21, 0.8);
    position: absolute;
    top: 50px;
    left: 95px;
    z-index: 2;
    display: none;
    flex-direction:column;
    border-radius: 10px;
    border-top: 1px solid goldenrod;
    border-bottom: 1px solid goldenrod;
    outline: 1px solid rgb(21, 21, 21);
    box-shadow: 15px 7px 15px rgba(0, 0, 0, 0.503);
    padding:10px;
}

.notif-dialogs .display1, .notif-dialogs .display2{
    color: rgba(189, 184, 184, 0.9);
    width: 100%;
}
.notif-dialogs hr{
    background-color: rgba(189, 184, 184, 0.9);
    border: 1px solid rgba(189, 184, 184, 0.9);
}

.notif-dialogs img{
    width: 40px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.notif-dialogs img:hover{
    background-color:rgba(192, 192, 192, 0.503);
}

.notif-dialogs .form-check-input{
    background-color:rgba(192, 192, 192, 0.503);
}

#powerOpts{
    width: 180px;
    height: max-content;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    left: 95px;
    z-index: 2;
    background-color:rgb(21, 21, 21, 0.8);
    outline: 1px solid rgb(21, 21, 21);
    box-shadow: 15px 7px 15px rgba(0, 0, 0, 0.503);
    display: none;
    flex-direction:column;
    border-radius: 10px;
    overflow: hidden;
}
#powerOpts img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
#powerOpts a {
    padding:10px;
    text-decoration: none;
    color: rgba(189, 184, 184, 0.9);
    cursor: pointer;
}
#powerOpts a {
    border-bottom: 1px solid silver;
}

#powerOpts a:hover{
    background-color: rgba(240, 248, 255, 0.516);
}


.customize-dialog{
    width: 200px;
    height: fit-content;
    position: absolute;
    background-color:rgb(21, 21, 21, 0.5);
    top: 100px;
    left: 200px;
    border-radius: 5px;
    outline: 1px solid rgb(21, 21, 21);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.702);
    display: none;
    flex-direction:column;
    overflow: hidden;
}

.customize-dialog img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.customize-dialog .opts{
    line-height: 35px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    padding:5px;
}
.customize-dialog .opts:hover{
    background-color: rgba(240, 248, 255, 0.516);
}

#appsContainer{
    width: 550px;
    height: 400px;
    background-color:rgb(21, 21, 21, 0.8);
    position: absolute;
    font-family: "satisfy";
    z-index: 2;
    bottom: -470px;
    left: 350px;
    border-radius:15px;
    outline: 1px solid rgb(21, 21, 21);
    border-top: 8px solid goldenrod;
    border-bottom: 2px solid goldenrod;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}
#appsContainer h2{
    margin-top:30px;
    position: absolute;
    color: silver;
    text-align: left;
}
#appsContainer h3{
    color: rgba(192, 192, 192, 0.6);
}
#appsContainer a{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    width: fit-content;
    height:fit-content;
    margin: 20px;
    width:40px;
    height: 40px;
    color: silver;
    cursor: pointer;
}
#appsContainer a:hover .app-icons{
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.4));
}
#appsContainer img{
    width:40px;
    height: 40px;
}
#appsContainer span{
    margin-top:-10px;
}
.inDevelopment{
    display: flex;
}

.msg{
    width: 40%;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 5px white;
    position: absolute;
    top: 150px;
    opacity: 0;
    text-align: center;
    left: 30%;
    z-index: 2;
    animation-name: fadeOut;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

@keyframes fadeOut {
    0%{opacity:1}
    100%{opacity:0}
}